/* Existing CSS rules */
body {
    font-family: Arial, sans-serif;
    background-color: #00324e;
    color: white;
    
}

header {
    text-align: center;
    padding: 20px;
}

.participants-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Increase the minimum width to 300px */
    grid-gap: 20px;
    justify-content: center;
    margin: 40px auto;
    max-width: 1000px;
    color: white;
}

.participant {
    text-align: center;
    padding: 20px; /* Increase padding for more space around the content */
    background-color: #00324e;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: relative; /* Add position relative to the participant container */
    overflow: hidden; /* Hide the overflowing content when the image size increases */
}

.participant img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    transition: transform 0.7s ease; /* Add transition for smooth animation */
}

.participant:hover img {
    transform: scale(1.4); /* Increase the size of the image on hover */
}

.participant h2 {
    margin-top: 10px;
}